.card-info {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0px #888;
  background-color: #fff;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  min-height: 130px;
}

.card-info-name {
  color: #888;
  font-size: 16px;
  margin: 0;
}

.progressbar-container {
  position: relative;
  height: 96px;
  overflow: hidden;
  margin: auto;
}

@keyframes growProgressBar {
  0% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 12rem;
  --fg: orange;
  --bg: rgb(224, 224, 224);
  --pgPercentage: var(--value);
  animation: growProgressBar 1s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 90%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-size: calc(var(--size) / 5);
  transform: rotate(270deg);
}

div[role="progressbar"] span {
  transform: rotate(90deg);
  position: absolute;
  top: 38%;
  left: 55%;
  color: #888;
}

.card-info .indicator {
  font-size: 20px;
}

.card-info .indicator span {
  font-size: 32px;
  font-weight: bold;
}

.card-info .description {
  font-size: 16px;
  margin: 0;
}

.card-info .sun-status {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: bold;
}

.card-info .sun-status .sun-status-img {
  width: 32px;
  height: 32px;
}

.humidity-progress {
  position: absolute;
  right: -10px;
  transform: rotate(270deg);
  width: 70px;
  top: 40%;
  height: 20px;
}