.card-weather {
  width: 70px;
  box-shadow: 0 0 10px 0px #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.card-weather img {
  position: relative;
  display: block;
  width: inherit;
}